<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192306945627-sfief9c9sv6929r16clnn1ak7atgj7uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192306945627-sfief9c9sv6929r16clnn1ak7atgj7uc</string>
	<key>API_KEY</key>
	<string>AIzaSyBPPnFVYHPl05BEuddMtkRRYuc_jXXA2Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>192306945627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahaab.bestellbuch</string>
	<key>PROJECT_ID</key>
	<string>bestellbuchmanager</string>
	<key>STORAGE_BUCKET</key>
	<string>bestellbuchmanager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192306945627:ios:f7a01a6fc5b7561698e97e</string>
</dict>
</plist>